*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
}

:root{
    --Pale-Blue: hsl(243, 100%, 93%);
    --rayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    --Gradient: hsl(6, 100%, 80%) , hsl(335, 100%, 65%);
}
body{
    overflow: hidden;
    background-color:var(--Very-Dark-Blue);
}
.background{
max-width: 90rem;
width: 100%;
height: 100vh;
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin: 0 auto;
}
.content__flex{
    display: flex;
    max-width:90rem;
    width: 100%;
    height: 100vh;
    z-index: 100;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
/*------------Modificacion del contenedor izquierdo ---------------*/
.content__left{
    max-width: 28.125rem;
    width: 100%;
    height: 15.625rem;
    background-color: var(--Dark-Blue);
    border-radius: 1rem 8rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}
/*-----------------Modificacion de los elementos dentro del contenedor izquierdo--------*/
.content__left header{
    border: 1px solid red;

    max-width: 20rem;
    width: 100%;
    height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.content__icons{
    border: 1px solid red;
    max-width: 20rem;
    width: 100%;
    height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.content__icon{
   width: 3rem;
   height: 3rem;
   padding: 2rem;
   border-radius: 1rem;
   background-color: var(--Very-Dark-Blue);
   
  
}
.icon--uno{
    background-image: url(/images/icon-document.svg);
    background-repeat: no-repeat;
    background-size:;
    background-position: center;
}
.icon--dos{
    background-image: url(/images/icon-folder.svg);
    background-repeat: no-repeat;
    background-size:;
    background-position: center;
}
.icon--tres{
    background-image: url(/images/icon-upload.svg);
    background-repeat: no-repeat;
    background-size:;
    background-position: center;
}

/*---------Modificaciones del contenedor derecho-------------*/

.content__right{
    max-width:750px;
    width: 100%;
    height: 220px;
    background-color: var(--Dark-Blue);
    border-radius: 1rem;
}

/*-----------Modificaciones a los elementos dentro del contenedor derecho----------*/
.right__title{
    color:var(--Pale-Blue);
    font-weight: 400;
    width: 100%;
    padding: 40px;
    margin-left: 35px;
    margin-top: 0;
}
.rigth__bold{
    font-weight: 700;
}
/*------------Armado de la barra de gradientes---------------*/
/*.right__barra{
    width: 100%;
    height: 50px;
    position: absolute;
}
.barra{
    width: 100%;
    max-width: 600px;
    height: 27px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 2rem;
    margin: 0 auto;
    
}

.barra--dos{
    position: relative;
    top: -23px;
    left: 78px;
    width: 100%;
    max-width:450px;
    height: 18px;
    background:linear-gradient(90deg ,hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
    border-radius: 2rem;
}

.barra--circle{
    position: relative;
    top: -39px;
    left: 509px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid hsl(6, 100%, 80%);
}*/

/*-----Inicio del footer de la tarjeta--------*/
/*.content__footer{
    max-width: 600px;
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content__footer p{
    font-weight: 700;
    color: var(--Pale-Blue);
}*/

/*-----------------------Inicio de banner----------*/
/*
.content__span{
    width: 100%;
    max-width: 240px;
    height: 100px;
    background-color: #fff;
    border-radius:1rem 1rem 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -73px;
    left: 423px;
}
.content__span .span__grey{
    color: var(--rayish-Blue);
    font-weight: 700;
    padding-left: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}

 .number{
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
}

.triangulo{
    width: 0;
     height: 0;
     border-right: 50px solid transparent;
     border-top: 50px solid transparent;
     border-left: 50px solid #fff ;
     border-bottom: 0px solid #fff;

     transform: rotate(180deg);
     position: absolute;
     top: 27px;
     left: 563px;
}*/

